<a href="https://colab.research.google.com/github/jaidalmotra/Thapar-Summer-School-Assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14].

(i) WAP to add 50 and 60 to L.

In [ ]:
L=[11,12,13,14]
L.append(50)
L.append(60)
L

[11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13 from L

In [ ]:
L=[11,12,13,14]
del L[0]
del L[2]
L

[12, 13]

(iii) WAP to sort L in ascending order.

In [ ]:
L=[11,12,13,14]
L.sort()
L

[11, 12, 13, 14]

(iv) WAP to sort L in descending order.

In [ ]:
L=[11,12,13,14]
L.sort(reverse=True)
L

[14, 13, 12, 11]

(v) WAP to search for 13 in L.

In [ ]:
L=[11,12,13,14]
if (13 in L) == True:
	print ("Present")
else:
	print ("Not Present")

Present

(vi) WAP to count the number of elements present in L

In [ ]:
L=[11,12,13,14]
s=len(L)
s

4

(vii) WAP to sum all the elements in L

In [ ]:
L=[11,12,13,14]
s=sum(L)
s

50

(viii) WAP to sum all ODD numbers in L.

In [ ]:
L= [11, 12, 13, 14]
s=0
for i in range(len(L)):
  if L[i] %2 !=0:
    s=s+L[i]
s

24

(ix) WAP to sum all EVEN numbers in L

In [ ]:
L= [11, 12, 13, 14]
s=0
for i in range(len(L)):
  if L[i]%2==0:
    s=s+L[i]
s

26

(x) WAP to sum all PRIME numbers in L

In [ ]:
L= [11, 12, 13, 14]
s=0
for i in range(len(L)):
  t=L[i]
  c=0;
  for i in range(1,L[i]):
    if t%i==0:
      c=c+1
  if c==1:
    s=s+t
s

24

(xi) WAP to clear all the elements in L

In [ ]:
L=[11,12,13,14]
L.clear()
L

[]

(xii) WAP to delete L.

In [ ]:
L=[11,12,13,14]
del L

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

(i) WAP to add new entry in D; key=8 and value is 8.8

In [ ]:
 D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
 D[8]=8.8
 D

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

(ii) WAP to remove key=2.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
del D[2]
D

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7}

(iii) WAP to check weather 6 key is present in D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
if 6 in D==True:
  print("Present")
else:
  print("Not Present")

Not Present

(iv) WAP to count the number of elements present in D.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(len(D))

5

(v) WAP to add all the values present D

In [ ]:
sum(D)

15

(vi) WAP to update the value of 3 to 7.1.

In [ ]:
D[3]=7.1
D

{1: 5.6, 2: 7.8, 3: 7.1, 4: 8.7, 5: 7.7}

(vii) WAP to clear the dictionary.

In [ ]:
D.clear()

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].

  S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i) WAP to add 55 and 66 in Set S1.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80, 90]
S1.append(55)
S1.append(66)
S1

[10, 20, 30, 40, 50, 60, 55, 66]

(ii) WAP to remove 10 and 30 from Set S1.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80, 90]
del S1[0]
del S1[1]
S1

[20, 40, 50, 60]

(iii) WAP to check whether 40 is present in S1.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80, 90]
if (40 in S1) == True:
	print ("Present")
else:
	print ("Not Present")

Present

(iv) WAP to find the union between S1 and S2.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80, 90]
newList = []
newList.extend(S1)
for element in S2:
    if element not in newList:
        newList.append(element)
print("Union of the lists is:", newList)

Union of the lists is: [10, 20, 30, 40, 50, 60, 70, 80, 90]

(v) WAP to find the intersection between S1 and S2.

In [ ]:
S1= [10, 20, 30, 40, 50, 60]
S2= [40, 50, 60, 70, 80, 90]
newList = []
for i in range(len(S1)):
  for j in range(len(S2)):
    if S1[i]==S2[j]:
      newList.append(S1[i])
newList

[40, 50, 60]

(vi) WAP to find the S1 - S2

Q4. Write the following program.

(i) WAP to print 100 random strings whose length between 6 and 8

In [ ]:
import string as s
import random as r
letters=s.ascii_letters
for i in range(100):
  ran=''.join(r.choice(letters) for i in range(6))
  print(ran)

eynTbW
SWEPbX
IJGLaQ
FlwaeG
oxXFfx
JQFFIh
cbuiNE
vtIesI
AFTLBL
SKPJPH
pWnmUz
RTLNZy
IADtVG
vqrhtV
nZPpdB
cADWzR
wMIGsV
VLjNAz
SCtyHn
RVVCSP
cayMTb
GPnVSj
FELCwu
agWXpj
BgYWaL
VnFHYq
RIAorp
xOzgKh
qhhOim
kqFGJg
vKFUqL
ywwbYX
aFItLy
yKHgwl
EHXSyb
zlpNFY
fpVjan
blLDrn
rdTVlM
IYSGGx
ZKFpcg
GhJzxf
KwllDJ
YJOnNX
KpMuOg
XVDRzc
FnyzSF
tQpAsY
fBKQVG
IsgbaJ
ZeBVGe
QKoFBn
GPkBtb
jicNlb
iuDiAA
rAIMBh
fAYZGZ
qYzZmF
ZFQQIA
WEqLbE
dKtgDe
HMNqOD
pDZDDf
EELjHq
KqmEch
vCGMIY
dCEOqo
IpFqpV
UTVumt
nUjrys
hPKBLu
qIlNeb
fNIvex
DrjNET
xoRwzq
sUtICq
YDiKFV
FjqFFF
esKGeu
tbbcEv
ntawNX
tdjrso
KYzJYs
EoqcxX
ndANng
StuUWM
ughtKk
ttUiQF
zVcoZU
SHcJfK
gwyNol
UnJqJs
tcDTOa
UpJhZP
TBEKKV
FrgBqe
gFNcmC
mMLFzo
cWwIgU
NuEjyW

(ii) WAP to print all prime numbers between 600 and 800.

In [ ]:
import random as r
def prime():
  for i in range(600,801):
    c=0
    for j in range(1,i):
      if i%j==0:
        c=c+1
    if c==1:
      print(i)
prime()

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [ ]:
for i in range(100,1001):
  if i%7==0 and i%9==0:
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find

(i) Common numbers in the two lists

(ii) Unique numbers in both the list

(iii) Minimum in both the list

(iv) Maximum in both the list

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:

(i) All odd numbers

(ii) All even numbers

(iii) All prime numbers

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3

Q8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4

Q9. Write to the file 100 random strings whose length between 10 and 15.

Q10. Write to the file all prime numbers between 600 and 800

Q11. WAP to calculate the time taken by a program.

Q12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.

Q13. WAP to create a dictionary of student marks in five subjects and you have to find the student
 having maximum and minimum average marks.